.debug-h{
  background-color: rgba(127, 255, 212, 0.25);
  border: 1px solid black;
}
.debug-m{
  background-color: rgba(255, 127, 127, 0.25);
  border: 1px solid black;
}
.debug-f{
  background-color: rgba(127, 140, 255, 0.25);
  border: 1px solid black;
}

/* Header */
