/* main */

/* ps5 */

.mb-title-ps h5{
  color: #2C64E6;
  font-size: 10px;
  margin-bottom: -0.2rem;
}

.mb-title-ps h1{
  margin-bottom: 30px;
}
.mb-title-ps p{
  color: #747474;
}
.mb-title-ps button{
  margin-top: 30px;
  margin-bottom: 30px;
}

.mb-img-ps5 img{
  width: 100%;
}

/* hardwere ps5 */
.mb-hw-group{
  padding-top: 100px;
  margin-bottom: 20px;
}

.mb-hw-prod-ps5 img{
  padding-top: 10px;
  width: 80%;
}
.mb-hw-prod-ps5{
  padding-bottom: 35px;
  border-bottom: 2px solid transparent;
}
.mb-hw-prod-ps5 span{
  text-align: center;
}

.mb-hw-prod-ps5:active{
  border-bottom: 2px solid #2C64E6;
  transform:translateY(-2px) ;
}

/* advertisement */

.mb-adv{
  height: 100%;
  margin-top: 95px;
  padding-bottom: 50px;
  background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.mb-adv-row img{
  width: 60%;
  padding: 50px 0 35px;
}

.mb-adv-row p{
  padding: 45px 0 35px;
}
.mb-adv-row button{
  background-color: #CD3D10;
}
.mb-adv-row button:hover{
  box-shadow: 0 0 0 2px #CD3D10,
  inset 0 0 0 2px #fff;
}

/* New release */

.mb-new-release{
  background-color: #1F1F1F;
  padding: 30px 0 ps;
}

/* play 4 */

.mb-marg-0{
  margin-bottom: 0;
}
.mb-title-ps img{
width: 100%;
}

/* ps plus */
.mb-ps-plus{
  background-color: #BEBCBB;
  margin: 50px 0;
}

.mb-ps-plus-cont img{
  width: 60%;
  margin-bottom: 40px;
}

.mb-ps-plus-cont button{
  background-color: #D9DADC;
  color: #005EE6;
}
.mb-ps-plus-cont button:hover{
  box-shadow: 0 0 0 2px #C6C5C5;

}

/* Discounts */

.mb-discounts{
  margin: 50px 0;
}

.mb-discounts img{
  margin: 25px 0;
}

/* play now */

.mb-play-now{
  background-color: #161C3B;
  margin: 50px 0;
}

.mb-play-now-cont img{
  width: 60%;
  margin-bottom: 40px;
}

.mb-play-now-cont button{
  background-color: #F5F5F5;
  color: black;
  margin-bottom: 30px;
}
.mb-play-now-cont button:hover{
  box-shadow: 0 0 0 2px #F5F5F5,
  inset 0 0 0 2px #161C3B;
}

/* social */

.mb-social-cont img{
  width: 100%;
  margin: 25px 0;
}