.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* content on cover img */
.mb-jumbo-cont,
.mb-jumbo-row,
.mb-adv-cont,
.mb-adv-row{
  height: 100%;
}

/* button */
.mb-bttn-pdd{
  display: inline-block;
  border-radius: 30px;
  border: none;
  padding: 5px 10px;
  color: white;
}

.mb-bttn-blue{
  background-color: #2C64E6;
}
.mb-bttn-blue:hover{
  box-shadow: 0 0 0 2px #2C64E6,
  inset 0 0 0 2px #fff;
}
/* /button */

/* white text */
.mb-white-txt{
  color: white;
}